.DS_Store
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/
.hypothesis/
.coverage
.coverage.*
coverage.xml
htmlcov/
.venv/
*.egg-info/
*.iml
build/
dist/
direct-dist/
radon.json
/output/
/paper/
/img/icons/
